:root {
    --accent-color: #458FF6;
    --text-color: #7D7987;
    --title-color: #000;
}

/* Общие */
body {
    font-family: "Muli", sans-serif;
    background-color: white;
}

/* Декор элементы */
.decor-sticky {
    position: absolute;
    top: 160px;
    left: -3px;
}

/* Модификаторы */
.section--padding {
    padding: 150px 0;
}

/* Компоненты */
.button {
    cursor: pointer;
    border-radius: 55px;
    border: none;
    padding: 15px 35px;
    font-weight: bold;
    transition: all 0.3 ease-in-out;
}

.button--solid {
    color: white;
    background-color: var(--accent-color);
}

.button--solid:hover {
    background-color: #3c7db3;
}

.button--border {
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
}

.button--border:hover {
    border: 2px solid #3c7db3;
}

.button:hover {
    text-decoration: none;
}

.section__title {
    margin-bottom: 60px;
    position: relative;
    font-size: 36px;
    font-weight: bold;
}

.section__title::before {
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    width: 55px;
    height: 2px;
    content: "";
    background-color: var(--title-color);
}

.section__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: var(--text-color);
}

/* перебиваем контейнер */
.container {
    max-width: 1240px;
}

/* Шапка */
.header {
    position: relative;
    padding: 50px 0;
}
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

a.active {
    font-weight: bold;
    color: #1F1534;
}

.menu__link {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    font-style: 18px;
}

.menu__link:hover {
    color: #1F1534;
    text-decoration: none;
}

/* Header contant */

.header__title {
    font-style: 48px;
    font-weight: bold;
}

.header__text {
    color: var(--text-color);
    font-style: 21px;
    line-height: 32px;
}

.header__picture {
    margin-top: 80px;
}

/* Услуги */
.services {
    background-image: url("../img/service-bg.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.service__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 80px;
}

.service__card {
    width: 350px;
    background-color: white;
    position: relative;
    z-index: 10;
    padding: 45px 35px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    margin-bottom: 35px;
    min-height: 355px;
}

.service__icon {
    margin-bottom: 15px;
}

.service__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: var(--title-color);
}

.service__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: var(--text-color);
}

.service-decor {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

/* Advantages */
.advantages__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.7;
    margin-bottom: 45px;
}

.advantages__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.66;
    color: var(--text-color);
    margin-bottom: 35px;
}

.advantages__left img {
    width: 100%;
}

.row-mb {
    margin-bottom: 200px;
}

/* Кастомер */
.feedback__wrapper {
    background: rgb(90,152,242);
    background: linear-gradient(209.9deg, rgba(90,152,242,1) 0%, rgba(103,195,243,1) 100%);
    border-radius: 25px;
    padding: 60px 110px;
    /* margin: 0px 60px; */
    width: 90%;
    margin: 0px auto;
    color: white;
}

.feedback__inner {
    margin-top: 100px;
}

.customer__picture {
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid white;
}

.customer__name {
    font-size: 22px;
    font-weight: bold;
    line-height: 2;
}

.customer__host {
    font-size: 18px;
    font-weight: 300;
}

.feedback__text {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
}

.feedback__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

/* News */
.news__card {
    min-height: 510px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    padding: 0px 30px 35px 30px;
}

.news__title {
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    color:var(--title-color);
    margin-bottom: 10px;
    margin-top: 20px;
}

.news__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color:var(--text-color);
    margin-bottom: 25px;
}

.news__link {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: var(--accent-color);
}

.news__picture {
    margin: 0 -30px;
}

.news__picture img {
    width: 100%;
    height: 240px;
}

.news__all {
    margin-top: 70px;
}